* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
}

.color-orange {
  color: #FD6E0A;
  font-weight: 900;
}

.btn {
  background-color: #FD6E0A;
  font-size: 20px;
  border: none;
  padding: 18px 35px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

/* header */
header {
  background-color: #FFF8F3;
  background: url(../developer.png),url(../header_bg.png),#FFF8F3;
  background-position: top left,bottom right;
  background-repeat: no-repeat;
  padding-top: 50px;
}

/* nav */
nav {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h2 {
  font-size: 45px;
}

.menu {
  display: flex;
  list-style: none;
  gap: 50px;
  align-items: center;
}

.menu a {
  font-size: 20px;
  color: #474747;
  text-decoration: none;
}

/* banner */
#banner {
  width: 71%;
  max-width: 1140px;
  margin: 50px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-content {
  max-width: 585px;
}

.banner-content h2 {
  font-size: 45px;
  font-weight: 600;
  color: #474747;
}

.banner-content h1 {
  font-size: 85px;
  font-weight: bold;
  color: #181818;
  margin: 10px 0 20px;
}

.banner-content p {
  font-size: 18px;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;
}

.btn-group {
  display: flex;
  gap: 20px;
}

/* banner image */
.banner-image img {
  width: 100%;
  max-width: 585px;
  vertical-align: middle;
}
